<div style="background-color: #06eeb0;padding: 10px;margin: 10px">
  <h1>component that receives action and a property</h1>
  <p>received prop {{fooProp.name}}</p>
  <p>received prop {{fooProp.age}}</p>
  <button {{action fooAction}}>click to call the route action passed to this component</button>
  <button  {{action anotherAction}}>click to call the parent component action</button>

  {{receives-action-and-model-2}}

</div>